/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Single-info figure {
      min-width: 130px;
  }
  .landing{
    position: relative;
    z-index: 1;
    height: 800px;
    margin-top: -200px;
    background-image: url(../images/back-header-mobile.jpg);
    padding-top: 270px !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .search-area{
    position: relative;
    top: 0;
    z-index: 5;
    width: inherit;
    padding: 30px;
  }
  footer{
    padding-top: 95px;
  }
  .contentbox-info {
    width: 100%;
}
.my-slider{
  position: relative;
  z-index: 1;
  height: 860px;
  margin-top: -200px;
  padding-top: 350px !important;
  overflow: hidden;
  background-image: url(../images/back-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.search-form {
  z-index: 5;
  top: 70%;
  left: 0;
  padding: 30px;
}
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Single-info figure {
      min-width: 130px;
  }
  .landing{
    position: relative;
    z-index: 1;
    height: 800px;
    margin-top: -250px;
    background-image: url(../images/back-header-mobile.jpg);
    padding-top: 290px !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .search-area{
    position: relative;
    top: 0;
    z-index: 5;
    width: inherit;
    padding: 30px;
  }
  footer{
    padding-top: 150px;
  }
  .contentbox-info {
    width: 100%;
}
.my-slider{
  position: relative;
  z-index: 1;
  height: 700px;
  margin-top: -400px;
  padding-top: 530px;
  overflow: hidden;
  background-image: url(../images/back-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
 }
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Single-info figure {
      min-width: auto;
  }
  .landing{
    position: relative;
    z-index: 1;
    height: 800px;
    margin-top: -250px;
    background-image: url(../images/back-header-mobile.jpg);
    padding-top: 85px !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  footer{
    padding-top: 215px;
  }
  .my-slider{
    position: relative;
    z-index: 1;
    height: 700px;
    margin-top: -400px;
    padding-top: 530px !important;
    overflow: hidden;
    background-image: url(../images/back-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Single-info figure {
      min-width: auto;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .Single-info figure {
      min-width: auto;
  }
 }
