body{
  overflow-x: hidden;
  background-color: #1B191D;
  font-family: 'Montserrat';
}
html{
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
  font-weight: 600;
}
ul{
  padding: 0px;
  margin: 0;
}
li{
  list-style: none;
}
.container{
  max-width: 100%;
}
a{
  text-transform: capitalize;
  color: #616161;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:focus, a:hover {
  color: #253E97;
  text-decoration: none;
}
img {
  max-width: 100%;
  border-radius: 3px;
}
.btn-round{
  border-radius: 3px !important;
}
::selection {
  color: #fff;
  background-color: #253E97;
}
::-moz-selection {
  color: #fff;
  background-color: #253E97;
}
/* default-CSS */
/* BTN */
a.btn{
  padding: 15px 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-primary {
  background-color: #253E97;
  border-color: #253E97;
  box-shadow: 0 2px 2px 0 rgba(37 ,62 ,150,.14), 0 3px 1px -2px rgba(37 ,62 ,150,.2), 0 1px 5px 0 rgba(37 ,62 ,150,.12);
}
.btn.btn-primary.focus, .btn.btn-primary:focus, .btn.btn-primary:hover ,.btn.btn-primary:active:hover {
  background-color: #253E97;
  border-color: #253E97;
}
.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
  box-shadow: 0 14px 26px -12px rgba(37, 62, 150,40%), 0 4px 23px 0 rgba(37 ,62 ,150,0.12), 0 8px 10px -5px rgba(37 ,62 ,150 ,0.2);
}
.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover{
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  background: #253E97;
}
.btn.btn-warning {
    color: #fff;
    background-color: #B29B2B;
    border-color: #B29B2B;
    box-shadow: 0 2px 2px 0 rgba(178 ,155 ,43 ,35%), 0 3px 1px -2px rgba(255,152,0,.2), 0 1px 5px 0 rgba(255,152,0,.12);
}
.btn-warning:hover {
    color: #212529;
    background-color: #B29B2B;
    border-color: #B29B2B;
}
.btn.btn-warning.focus,.btn.btn-warning:active:focus, .btn.btn-warning:focus, .btn.btn-warning:hover {
    color: #fff;
    background-color: #B29B2B;
    border-color: #B29B2B;
}
.btn.btn-success {
  color: #fff;
  background-color: #9ccc64;
  border-color: #9ccc64;
}
.btn.btn-success.focus, .btn.btn-success:focus, .btn.btn-success:hover {
  color: #fff;
  background-color: #8bbb52;
  border-color: #8bbb52;
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
  background: #8bbb52;
}
.btn.btn-danger {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff5252;
}
.btn.btn-secondary {
  color: #efefef !important;
  background-color: #2C2A2D;
  /* border: 1px solid #2C2A2D; */
  box-shadow: 0 0px 25px -10px #333;
}
.btn.btn-secondary.focus, .btn.btn-secondary:focus, .btn.btn-secondary:hover ,.btn.btn-secondary:active:focus{
  color: #efefef;
  background-color: #B29B2B;
  border-color: #B29B2B !important;
}
.btn.btn-secondary:active, .btn.btn-secondary:focus, .btn.btn-secondary:hover {
    box-shadow: 0 14px 26px -12px hsl(0deg 0% 100% / 18%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px hsl(0deg 0% 100% / 15%);
}
a.btn:hover{
  transform: translateY(-5px);
}
/* fontfamily */
.bd-font{
  font-family: "Montserrat";
}
.hd-font{
  font-family: "Montserrat";
  font-weight: 400;
}
/* font-size */
.fs-10{font-size: 10px;}
.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}
.fs-23{font-size: 23px;}
.fs-25{font-size: 25px;}
.fs-30{font-size: 30px;}
.fs-35{font-size: 35px;}
.fs-40{font-size: 40px;}
.fs-50{font-size: 50px;}
.fs-70{font-size: 70px;}
/* bg-color */
.bg-f5{
  background-color: #f5f5f5;
}
.bg-ef{
  background-color: #efefef;
}
.bg-ff{
  background-color: #fff;
}
.bg-ee{
  background-color: #eee;
}
.bg-2c{
  background-color: #2C2A2D;
}
.bg-blue{
  background-color: #253E97;
}
.bg-yellow{
  background-color: #B29B2B;
}
.clr-ff{
  color: #fff !important;
}
.clr-ef{
  color: #efefef !important;
}
.clr-blue{
  color: #253E97 !important;
}
.clr-yellow{
  color: #B29B2B !important;
}
.clr-8d{
  color: #8d8d8d !important;
}
/* box-shadow */
.bx-sh{
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.8);
}
.te-sh{
  text-shadow: 0 0 20px #fff;
}
/* header */
header{
  position: relative;
  z-index: 5;
  background: linear-gradient(to bottom, black, rgb(0 0 0 / 4%));
}
header .off-con #m-menu-btn i{
  color: #fff;
}
header .off-con #m-menu-btn{
  z-index: 10;
  top: 36px;
  padding: 20px;
  position: absolute;
  right: 20%;
  font-size: 25px;
  left: 20%;
}
.menu-area ul.menu li{
  display: inline-block;
}
.menu-area ul.menu li a{
  color: #fff;
  text-shadow: 0 1px 3px rgb(23 23 23 / 90%);
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-area ul.menu li:hover a{
  color: #fff;
  background-color: rgb(27 25 29 / 85%);
}
.menu-area ul.menu li.active a{
  color: #fff;
  background-color: rgb(27 25 29 / 85%);
}
/* M-Menu */
@keyframes m-m {
  from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; }
}
@keyframes m-m-close {
  from { opacity: 1; visibility: visible; }
  to { opacity: 0; visibility: hidden; }
}
@keyframes m-menu {
  from { right: -250px; opacity: 0; visibility: hidden; }
  to { right: 0px; opacity: 1; visibility: visible; }
}
@keyframes m-menu-close {
  from { right: 0px; opacity: 1; visibility: visible; }
  to { right: -250px; opacity: 0; visibility: hidden; }
}
.m-menu{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  right: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  top: 0px;
}
.m-menu-btn{
  position: relative;
  right: 0px;
  top: 0px;
  text-align: center;
}
.m-menu-btn a{
  color: #FFF;
  cursor: pointer;
}
.m-menu-btn a i{
  color: #FFF;
}
.m-menu.show{
  opacity: 1;
  visibility: visible;
  animation: m-m 0.3s linear;
}
.m-menu.hid{
  opacity: 0;
  visibility: hidden;
  animation: m-m-close 0.3s linear;
}
.m-menu .m-overly{
  width: 100%;
  height: 100%;
  z-index: 10;
}
.m-menu-box{
  position: absolute;
  width: 250px;
  height: 100vh;
  background-color: #2C2A2D;
  top: 0px;
  right: -250px;
  z-index: 11;
  padding: 70px 15px;
  color: #fff;
}
.m-menu-box.show{
  right: 0px;
  animation: m-menu 0.3s linear;
}
.m-menu-box.hid{
  right: -250px;
  animation: m-menu-close 0.3s linear;
}
.m-menu-close{
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
}
.m-menu-box ul{
  margin-top: 30px;
  cursor: pointer;
}
.m-menu-box ul li{
  font-family: 'cambria';
  font-size: 15px;
  padding: 10px;
  display: block !important;
  text-align: left;
}
.m-menu-box ul li i{
  font-size: 12px;
  margin-left: 10px;
}
.m-menu-box ul li a{
  color: #9b9b9b;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.m-sub-menu ul{
  margin-top: 10px;
  margin-left: 10px;
}
.m-sub-menu ul li{
  font-family: 'cambria';
  font-size: 16px;
  padding: 5px;
}
header.main-menu li{
  display: inline-block;
}
header.main-menu li a{
  padding: 6px 15px;
  font-weight: 400;
  border-radius: 99px;
}
header.main-menu li:hover a{
  color: #fff;
  background-color: #f63854;
}
.have-submenu{
  position: relative;
}
.have-submenu .ul-submenu{
  position: absolute;
  left: -45px;
  z-index: 100;
  background-color: rgb(44 42 45 / 93%);
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 180px;
  padding: 10px;
  top: 80px;
  border: 1px solid #2c2a2d;
  border-top: 3px solid #B29B2B;
  border-radius: 3px;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.have-submenu:hover .ul-submenu{
  display: block;
  opacity: 1;
  top: 40px;
  visibility: visible;
}
.have-submenu .ul-submenu li{
  display: block !important;
}
.have-submenu .ul-submenu li a{
  color: #efefef !important;
  padding: 0px;
  font-size: 14px;
  font-weight: 100;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.have-submenu .ul-submenu li:hover a{
  padding-left: 5px;
}
.ul-submenu-mob ul li a{
  font-size: 10px !important;
  padding: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.ul-submenu-mob ul li:hover a{
  padding-left: 5px;
}
/* social */
.social-icon i{
  text-shadow: 0 0 20px #fff;
  font-size: 20px;
}
.social-icon .btn.btn-secondary{
  background-color: rgb(44 42 45 / 52%);
}
.social-icon .btn.btn-secondary:hover{
  background-color: #B29B2B;
}
/* account-btn */
.account-btn figure{
  cursor: pointer;
}
.close{
  position: absolute;
  right: 25px;
  top: 15px;
}
.modal-body .bmd-form-group input ,.modal-body .bmd-form-group textarea{
  background: rgb(49, 47, 50) !important;
}
.modal-dialog .modal-content{
  border-radius: 25px;
}
.brd-left{
  border-left: 1px dashed #3c3c3c;
}
.modal-backdrop{
  z-index: 2;
}
/* logo */
.logo-area{
  margin-top: 0;
  position: relative;
  margin-bottom: 0;
  z-index: 2;
}
/* slider */
.landing{
  position: relative;
  z-index: 1;
  height: 700px;
  margin-top: -165px;
  overflow: hidden;
  background-image: url(../images/back-header-mobile.jpg);
}
.my-slider{
  position: relative;
  z-index: 1;
  height: 755px;
  margin-top: -350px;
  padding-top: 200px !important;
  overflow: hidden;
}
.my-slider .owl-carousel ,.bg-single{
  border-radius: 0;
  overflow: hidden;
  /* border: 1px solid #6c757d; */
}
.my-slider img{
  border-radius: 3px ;
}
.my-slider .owl-dots{
  position: absolute;
  right: 40%;
  left: 40%;
  bottom: 0;
}
.my-slider .owl-theme .owl-dots .owl-dot span{
  background-color: rgb(40, 116, 166);
  border: 2px solid rgb(148, 184, 251);
  opacity: 0.5;
  height: 12px;
  width: 12px;
  margin: 2px;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.my-slider .owl-theme .owl-dots .owl-dot.active span{
  opacity: 1;
  width: 35px;
}
.search-area{
  position:absolute;
  top: 45%;
  z-index: 5;
  width: inherit;
}
.search-form {
  z-index: 5;
  top: 50%;
  left: 12%;
}
.title-search{
  z-index: 5;
  top: -60px;
  text-shadow: 0 0 25px #333;
}
.title-search .title-area{
  background-color: rgba(178, 155, 43, 0.8);
  border-radius: 3px;
}
.title-search .title-area h3{
  opacity: 1;
}
.form-control ,.form-control:focus{
  background: #fff;
  border-radius: 3px;
  padding: 5px 15px;
}
.submit-search{
  padding: 5px 40px;
  height: 40px;
}
.fullscreen-bg{
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
.fullscreen-bg video{
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  position: relative;
  z-index: 1;
}
/* title-section */
.title-section {
  background-image: url(../images/squar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130px;
}
.title-section-modal {
  background-image: url(../images/squar.svg);
  background-repeat: no-repeat;
  background-position: -8px center;
  background-size: 95px;
}
.footer-title{
  background-image: url(../images/squar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px;
}
.title-section h3{
  text-shadow: 0 0 10px #333;
}
.title-side{
  background-image: url(../images/blue-squar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px;
}
.title-side hr{
  position: relative;
  top: -27px;
}
.culom-4 .banner-area a img{
  object-fit: cover;
  height: 260px;
  width: 100%;
  border-radius: 3px;
  box-shadow:  0 10px 35px -10px #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.culom-4 .banner-area{
  transform: translateY(0px);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.culom-4 .banner-area:hover a img{
  box-shadow:  0 20px 45px -10px #000;
}
.culom-4 .banner-area:hover{
  transform: translateY(-7px);
}
.calltoactione {
  margin-top: 85px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: scroll !important;
  box-shadow: 0 5px 25px -10px #000;
}
.bg-overly::before{
  width: 100px;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
}
.des-cta p{
  line-height: 2;
  text-shadow: 1px 1px 5px #000;
}
/* testimonials */
.bg-testi{
  background: url(../images/squar.svg);
  background-repeat: no-repeat;
  background-size: 175px;
  background-position: center;
}
.box-testimonials{
  border-radius: 3px;
  box-shadow: 0 5px 25px -10px #000;
}
hr {
  border-top: 2px dashed rgb(255 255 255 / 10%);
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  background: #2C2A2D;
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 0 20px #fff;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  font-size: 35px;
  transform: rotate(45deg);
}
.owl-carousel .owl-nav button.owl-next span
, .owl-carousel .owl-nav button.owl-prev span
, .owl-carousel button.owl-dot span{
  transform: rotate(-45deg);
  position: absolute;
  top: 6px;
  right: 16px;
}
.box-img {
  width: 115px;
}
.owl-theme .owl-nav {
  margin-top: 30px;
}
/* feature Property */
.feature-content{
  background: rgb(37 62 151 / 80%);
  width: 85%;
  background-blend-mode: multiply;
  position: absolute;
  top: 255px;
  border-radius: 0;
  padding: 5px 20px;
  text-shadow: 0 2px 5px rgba(0 ,0 ,0 ,0.3);
}
.feature-content .more a{
  color: #F4D80B;
  font-style: italic;
  font-weight: 600;
}
.feature-img img {
  height: 560px;
  object-fit: cover;
  max-height: 540px;
}
/* blog */
.blog-row{
  padding-top: 100px;
  padding-bottom: 0px;
}
.blog-box{
  border: 1px solid #2C2A2D;
  border-radius: 0px;
  margin-bottom: 15px;
  background-color: #2C2A2D;
  background-image: url(../images/squar.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-box:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 25px -3px rgba(0, 0, 0, 0.5);
}
.blog-box figure{
  padding: 20px;
  position: relative;
  top: -55px;
  margin-bottom: -70px;
}
.blog-box figure img{
  border-radius: 0px;
  box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.2);
  height: 190px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog-box:hover figure img{
  transform: rotateY(360deg);
}
.blog-box .blog-title h3{
  color: #fff;
  font-size: 20px;
}
.blog-box .blog-title:hover h3{
  color: #253E97;
}
.blog-slider .owl-carousel .item{
  padding-top: 50px;
}
.blog-box .blog-des{
  height: 140px;
  overflow: hidden;
}
.blog-box h3{
  min-height: 116px;
  overflow: hidden;
}
/* footer */
footer{
  background-image: url(../images/road.svg);
  background-color: #3d3d3d;
  background-position: center top;
  min-height: 570px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 320px;
  border-radius: 0;
}
.info-box i {
  padding: 21px;
  background: url(../images/squar.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.address-info p{
  display: block;
  padding-left: 60px;
  margin-top: -35px;
  position: relative;
  top: -20px;
  margin-bottom: -12px;
}
footer textarea.form-control ,
footer .bmd-form-group input ,
.modal-body .bmd-form-group input{
  border-radius: 0px;
  width: 100%;
  padding: 10px 15px;
  background-color: #2C2A2D;
  margin: 4px 0;
}
footer .form-control,footer .form-control:focus{
  background: #333;
  border-radius: 0px;
  padding: 10px 15px;
}
@keyframes move {
  0% {
      left: -30%;
      transform: rotate(-3deg);
      top: 215px;
  }
  40% {
      top: -50px;
      transform: rotate(26deg);
  }
  50% {
      top: -50px;
      transform: rotate(33deg);
  }
  100% {
      left: 130%;
      transform: rotate(70deg);
      top: 215px;
  }
}
.box-plan{
  animation: move 40s linear infinite forwards ;
  left: 0;
  top: 0;
}
/* archive */
.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
    background-color: #253E97;
    border-color: #253E97;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgb(37 62 149 / 39%), 0 1px 10px 0 rgba(156,39,176,.12), 0 2px 4px -1px rgba(156,39,176,.2);
}
.pagination>.page-item>.page-link, .pagination>.page-item>span{
  border-radius: 0px !important;
}
#order.form-control, #order.form-control:focus {
    background: #302E31;
    border: 1px solid #707070;
    border-radius: 0px;
    padding: 5px 15px;
}
.order-icon{
  position: absolute;
  top: 13px;
  font-size: 15px;
  right: 30px;
}
.icon-list button {
  height: 40px;
  width: 40px;
  padding: 8px 5px;
  transform: rotate(45deg);
  border-radius: 5px;
  box-shadow: 0px 15px 25px -18px #000 ;
  margin: 6px;
}
.icon-list button.btn-secondary:hover {
  box-shadow: 0px 15px 35px -18px #000 ;
  background-color: #253E97;
  border: 1px solid #253E97 !important;
}
.img-list img{
  border-radius: 0;
}
.img-list{
  overflow: hidden;
}
.box-list .title-list{
  background: url(../images/bg-img-list.svg);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: -12px;
  position: relative;
}

.icon-list button i{
  transform: rotate(-45deg);
  text-shadow: none;
}
.box-list{
  background-color: #302E31;
  box-shadow: 0 5px 25px -10px #000;
  border-radius: 0px;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.box-list:hover{
  transform: translateY(-5px);
  box-shadow: 0 15px 35px -10px #000;
}
.box-list{
  overflow: hidden;
  border-radius: 3px;
}
.box-list img{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.box-list:hover img{
  transform: scale(1.1);
}
.tag-sold{
  background-color: #E52229;
  height: 100px;
  width: 100px;
  border-radius: 25px;
  position: absolute;
  top: 40px;
  left: 32%;
  transform: rotate(45deg);
  z-index: 3;
  box-shadow: 0 0 25px -5px #333;
}
.area-sold{
  transform: rotate(-45deg);
}
.area-sold span{
  position: absolute;
  left: -8px;
  top: 23px;
}
.tag-sold::before{
  content: "";
  background-color: #E52229;
  opacity: 0.5;
  height: 120px;
  width: 120px;
  position: absolute;
  border-radius: 25px;
  top: -10px;
  left: -10px;
  box-shadow: 0 0 25px -5px rgb(0 0 0 / 60%);
}
.side-box{
  background-color: #302E31;
  box-shadow: 0 5px 25px -10px #000;
  border-radius: 3px;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider .noUi-connect {
  background-color: #253E97;
  border-radius: 0px;
}
.slider .noUi-handle {
    border-color: #253E97;
}
.noUi-handle{
  border: 2px solid;
}
.noUi-horizontal {
  height: 3px;
}
.form-check .form-check-sign .check {
  border: 1px solid #6e6e6e;
  border-radius: 0px;
}
.form-check .form-check-input:checked+.form-check-sign .check {
  background: #253E96;
}
/* single */
.bg-single{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center ;
  padding: 250px 25px 20px 25px;
  position: relative;
  overflow: hidden;
}
.bg-single::before {
  content: "";
  background: linear-gradient(rgba(0 ,0,0,0.9) 0%,rgba(0 ,0,0,0.2) 100%) ;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.home-gallery .item{
  border-radius: 0px;
}
.Single-feature .title-home h1{
  border-radius: 0px;
  background-color: rgba(178, 155, 43, 0.8);
  text-shadow: 0 2px 5px rgb(51 51 51 / 75%);
  font-size: 35px;
}
.address-home h4{
  text-shadow: 0 1px 2px #333;
}
.price-home span{
  font-size: 30px;
  color: #F4D80B;
  text-shadow: 0 2px 2px #333;
}
.Single-info .bg-infosingle{
  background-color:#302E31;
  border: 1px solid #3a3a3a;
  border-radius: 3px;
}
.Single-info img{
  border-radius: 0;
  width: 36px;
}
.Single-info figure{
  margin: 10px;
  position: relative;
}
.Single-info figure span::before{
  content: "";
  height: 43px;
  position: absolute;
  top: -4px;
  left: -13px;
  border: 1px dashed rgb(191 191 191 / 22%);
}
.Single-info figure:nth-child(1) span::before{
  height: 0px;
  border: 0px dashed rgb(191 191 191 / 22%);

}
.Single-info figure span{
  color: #BFBFBF;
  padding-left: 10px;
}
a.rq-info.btn {
  margin: 2px;
}
a.rq-info.btn:hover {
  transform: translateY(0px) !important;
}
.odd ,.even{
  padding: 5px;
  border: 1px solid #707070;
  color: #eee;
  margin: 0;
}
.odd{
  background-color: #302E31;
}
.header-fied{
  border-right: 1px solid #707070;
}
.view-tour ,.calculator-btn ,.Share-property{
  padding: 20px 5px 20px 40px !important;
}
.btn-content a::before{
  padding: 10px;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 11px;
  border-radius: 5px;
  transform: rotate(45deg);
  background-color: #06105A;
  box-shadow: 0 5px 25px -10px #000;
  left: 11px;
  z-index: -1;
}
.btn-content a i{
  position: absolute;
  left: 20px;
}
/* tab */
li.nav-item{
  display: inline-block;
}
.tab-map {
  margin-top: 25px;
  background-color: #302E31;
  box-shadow: 0 5px 25px -10px #000;
  border-radius: 4px;
  padding: 15px;
}
.tab-map .nav-item a{
  background-color: #1B191D
}
.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #253E97;
  box-shadow: 0 2px 15px 0 rgba(37 ,62 ,150,.54), 0 3px 1px -2px rgba(37 ,62 ,150,.2), 0 1px 5px 0 rgba(37 ,62 ,150,.12);
}
.nav-pills, .nav-tabs{
  padding: 0;
}
.seegooglemap{
  color: #fff;
}
.seegooglemap:hover{
  color: #253E97;
}
.bg-single-form {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top ;
  padding: 25px 50px;
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0 15px 25px -10px #000;
}
.bg-single-form::before {
  content: "";
  background: linear-gradient(rgba(0 ,0,0,0.5) 0%,rgba(0 ,0,0,0.8) 100%) ;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.title-form{
  background: url(../images/blue-squar.svg);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: -44px -10px;
}
.form-contact textarea.form-control ,
.form-contact .bmd-form-group input{
  border-radius: 0px;
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(0 0 0 / 48%);
  margin: 4px 0;
  border: 1px solid #202020;
}
.Single-form .address-info p {
  top: -10px;
}
/* single article */
.breadcrumb {
  background-color: transparent;
}
.breadcrumb li a{
  color: #fff;
  text-shadow: 0 2px 5px #333;
}
.breadcrumb li.breadcrumb-item.active{
  color: #efefef;
  text-shadow: 0 2px 5px #333;
}
.Latest-Blog figure {
  position: relative;
}
.Latest-Blog h3{
  position: absolute;
  top: 5px;
  left: 7px;
  background: rgb(7 36 139 / 80%);
  padding: 5px 15px;
  border-radius: 0px;
  box-shadow: 0 5px 15px -5px #333;
}
.contentbox-info {
  background-color: rgb(50 50 50 / 72%);
  border-radius: 0px;
  box-shadow: 0 5px 25px -10px #333;
  padding: 12px;
}
/* profile */
.row-profile {
  border: 1px solid #2c2a2d;
  box-shadow: 0 5px 25px -10px #000;
  background: #2c2a2d;
  border-radius: 0px;
  padding: 50px 10px;
  margin-top: -55px;
}
.profile-image .p-img{
  text-align: center;
  width: 100px;
  margin: auto;
  overflow: hidden;
}
.profile-image img{
  border-radius: 3px;
  position: relative;
  background-color: #c5cde0;
}
.profile-image a{
  color: #7d7d7d;
  cursor: pointer;
  position: relative;
  top: -25px;
  left: -25px;
}
.profile-image button{
  border-radius: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #969697;
  color: #7d7d7d;
  cursor: pointer;
}
.profile-pe{
  border-top: 1px dashed #3a3a3a;
}
.pe-box{
  width: 48%;
  display: inline-block;
  text-align: center;
}
.pe-box a ,.pe-box p ,.pe-box i{
  color: #757575;
}
.pass-change{
  border-right: 1px dashed #3a3a3a;
  padding: 0 2px;
}
.profile-box{
  background-color: #1B191D;
  border-radius: 0px;
  border: 1px solid #2C2A2D;
}
.content-RQbox{
  border: 1px solid #333;
  background-color: #1B191D;
  border-radius: 0px;
  padding: 10px;
}
.status-box{
  top: 15px;
  right: 30px;
}
.date_send{
  color: #616161;
}
/* archive-article */
.archive-header .bg-single{
  padding: 35px 25px 20px 25px !important;

}
